

<ion-content>
  <div class="main">
    <div class="banner">
      <!-- <img src="assets\newImg\ScreenImage1.png" alt="" /> -->
      <img src="assets/img/OnBoardingScreen-V11.png" alt="" />
      <img class="home_icon" src="assets\newImg\HomepageIconWithBack.png" alt=""  routerLink="/home2"/>

      <!-- <img class="home_icon" src="assets\newImg\HomepageIconWithBack.png" alt="" /> -->
      <div class="boarderHover"> 

      </div>
    </div>
    <div class="logo">
      <img src="/assets/img/s-work7-logo-11.png" alt="" />
      <!-- <img src="/assets/img/OnBoardingScreen-V11.png" alt="" /> -->

    </div>
    <div class="title_text">
      <h1>Discovering Fresh,<br>Food, Fruits & Dairy Products</h1>
      <p>Tell us your food preferences and we'll only serve you delicious recipes ideas</p>
      <!-- <p>Join us as a Service Provider or Customer. Both are available for you</p> -->

    </div>
    <div class="login_btns">
      <ion-button class="login" fill="clear" routerLink="/login1">
        LOG IN
      </ion-button>
      <!-- <ion-button class="register" fill="clear" >
        REGISTER
      </ion-button> -->
      <!-- <span>OR</span> -->
      <ion-button class="original_login" fill="clear"   routerLink="/register1">
      REGISTER NOW
      </ion-button>
    </div>
  </div>
</ion-content>
