<ion-content>
  <div class="main">
    <div class="banner">
      <img src="assets\newImg\ScreenImage1.png" alt="" />
      <img class="home_icon" src="assets\newImg\HomepageIconWithBack.png" alt="" />
      <div class="boarderHover"> 

      </div>
    </div>
    <div class="logo">
      <img src="/assets/img/s-work7-logo-11.png" alt="" />
    </div>
    <div class="title_text">
      <h1>Join Us Now</h1>
      <p>Join us as a Customer</p>
      <!-- <p>Join us as a Service Provider or Customer. Both are available for you</p> -->

    </div>
    <div class="login_btns">
      <!-- <ion-button class="login" fill="clear" (click)="go1()">
        RESTAURANT
      </ion-button> -->
      <ion-button class="login" fill="clear" (click)="go2()">
        REGISTER
      </ion-button>
      <span>OR</span>
      <ion-button class="original_login" fill="clear" (click)="go3()">
        LOG IN
      </ion-button>
    </div>
  </div>
</ion-content>
